<table class="header">
<tr>
<td class="header-logo">
<a href="/">EKONOMIK</a>
</td>
<td class="header-spacer"></td>
<td class="header-nav">
<a href="/items">Listings</a> |
<a href="/youritems">Your Items</a> |
<a href="/requests">Your Requests</a>
</td>
</tr>
</table>