<table class="header">
<tr>
<td class="header-logo">
EKONOMIK
</td>
<td class="header-spacer"></td>
<td class="header-nav">
<a href="#">Listings</a> |
<a href="#">New Item</a> |
<a href="#">Your Items</a> |
<a href="#">Your Requests</a>
</td>
</tr>
</table>