<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="css/login.css" rel="stylesheet">
  </head>
  <body>


  <div class="loginHeader">
    <div class="loginHeadline">
      <a href="/">EKONOMIK</a>
    </div>

    <div class="main">
      <div class="loginCenter">
        <form action="/users" method="get">
          <h3> Log In </h3>
          <input type="text" placeholder="Email" name="email"><br>
          <br>
          <input type="text" placeholder="Password" name="password"><br>
          <br>
          <button class="loginButtons" type="submit">Login</button>
        </form>

        <form action="/users/new" method="post">
          <h3> Sign Up </h3>
          <input type="text" placeholder="Email" name="email"><br>
          <br>
          <input type="text" placeholder="Password" name="password"><br>
          <br>
          <button class="loginButtons" type="submit">Sign Up</button>
        </form>
      </div>
    </div>


    </div>

    <% include footer %>

  </body>
</html>