<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="../public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header><h1><a href="/">BORROW IT</a><h2></borrow></header>
    <div class="main">



    </div>

    <footer></footer>

  </body>
</html>
