<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <% include header %>

    <div class="main">
      <div class="center">
        <form action="/users" method="get">
          <div> Log In </div>
          <input type="text" placeholder="Email" name="email">
          <br>
          <input type="text" placeholder="Password" name="password">
          <br>
          <input type="submit">
        </form>

        <form action="/users/new" method="post">
          <div> Sign Up </div>
          <input type="text" placeholder="Email" name="email">
          <br>
          <input type="text" placeholder="Password" name="password">
          <br>
          <input type="submit">
        </form>
      </div>


    </div>

    <% include footer %>

  </body>
</html>