<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="css/login.css" rel="stylesheet">
  </head>
  <body>


  <div class="loginHeader">

    <div class="loginHeadline">
      <a href="/">EKONOMIK</a>
<br><br><br>

<span>The proletariat have nothing to lose but their chains.</span>

<br>

<span class="smaller"><a href="/items">Listings</a> |
<a href="/youritems">Your Items</a> |
<a href="/requests">Your Requests</a></span>

  </div>

      
    </div>


    <% include footer %>

  </body>
</html>