<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="css/login.css" rel="stylesheet">
  </head>
  <body>


  <div class="loginHeader">
  
    <div class="loginHeadline">
      <a href="/">EKONOMIK</a>
    </div>

    <div class="main">
      <a href="/items">Listings</a><br>
      <a href="/youritems">Your Items</a><br>
      <a href="/requests">Your Requests</a>
    </div>

  </div>

    <% include footer %>

  </body>
</html>