<div class="add_new">
  <div><em>Add New Item:</em></div>
  <form action="/items/new" method="post">
    <table>
      <tbody>
      <tr>
        <td><label for="item_name">Item Name:</label></td>
        <td><input type="text" name="name" id="item_name"></td>
      </tr>
      <tr>
        <td><label for="desc">Description:</label></td>
        <td><input type="text" name="description" id="desc"></td>
      </tr>
      <tr>
        <td><label for="link">Link to Image:</label></td>
        <td><input type="text" name="image_link" id="link"></td>
      </tr>
    </tbody>
    <br>

  </table>
    <input type="submit">
  </form>
</div>
