<div class="add-new">
  <div><em>Add New Item:</em></div>
  <form action="/items" method="post">
    <table class="add-form">
      <tbody>
      <tr>
        <td><label for="item_name">Item Name:</label></td>
        <td><input type="text" name="name" id="item_name"></td>
      </tr>
      <tr>
        <td><label for="desc">Description:</label></td>
        <td><input type="text" name="description" id="desc"></td>
      </tr>
      <tr>
        <td><label for="link">Link to Image:</label></td>
        <td><input type="text" name="image_link" id="link"></td>
      </tr>
    </tbody>
    <br>

  </table><br>
    <button type="submit">Add</button>
  </form>
</div>
