<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="/css/style.css" rel="stylesheet">
  </head>

  <body>
    <% include header %>
    <div class="main">
      <% include new_item %>
    </div>
    <% include footer %>
  </body>
</html>