<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="css/thumb.css" rel="stylesheet">
  </head>

  <body>
    <% include header %>

    <div class="main">
      <br>
      <h2 class="owner"><%= user %>'s Items</h2>
      <% include switch_views %>
      <br>
      <table>
        <% userItems.forEach(function(item) { %>
            <tr class="inline-row">
              <td><div class="img_holder">
                <img src='<%= item.image_link %>'>
                <br>
                <div class="item-name"><%= item.name %></div>
              <div></td>
            </tr>
        <% }); %>
      </table>
      <br><br>
      <% include new_item %>
    </div>

    <% include footer %>

  </body>
</html>