body {
  background-color: #cbe86b;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 70px;
  background-color: #f2e9e1;
  border: 2px solid #cbe86b;
  border-radius: 10%;
}

h1 {
  margin-left: 45%;
  color: #1C140D;
}

.main {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 800px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1%;
}

footer {
  clear: both;
  width: 100%;
  height: 70px;
  background-color: #f2e9e1;
  border: 2px solid #cbe86b;
  border-radius: 10%;
}

.center {
  width: 320px;
  height: 90px;
  background-color: #F2E9E1;
  margin: auto;
  padding: 20px;
  margin-left: 37%;
  display: inline-block;
  border-radius: 5%;
  margin-top: 30px;
  border: 2px solid #1C140D;
}

form {
  padding-left: 15px;
  display: inline-block;
}